 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Make games wholeheartedly and serve wholeheartedly. Creating a good game environment for players is our eternal purpose.</p>
                </div>
                <div class="col-lg-4">
                    <p>There is only one kind of heroism in the world, that is to still love life after seeing the truth of life. </p>
                </div>
				<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
				-->
            </div>
        </div>
    </section>
