<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
		<a href="https://play.google.com/store/apps/developer?id=MOON+Game+Limited" target="_blank"><img class="img-responsive" src="img/googleplay.png" alt="profile-pic" /></a>
		<a href="https://apps.apple.com/us/developer/jinbao-xiang/id1448152802" target="_blank"><img class="img-responsive" src="img/applestore.png" alt="profile-pic" /></a>
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
